//- dependencies
include ../content-heading/content-heading.jade

mixin content-section(data, settings)
  - settings = settings || {}
  - image = data.image ? data.image.url : null
  - extra = data.extra

  section.c-content-section(class=settings.baseClass || '')
    .c-content-section__wrapper.h-limiter.h-group

      if image
        figure.c-content-section__image(class=settings.imageClass || '')
          img(src=image)

      if settings.simpleHeading
        h3.c-content-section__heading #{data.name}
      else
        +content-heading(data.name)

      .c-content-section__content !{data.content}

      if extra
        input.c-content-section__expander(type='checkbox', id=data.key)
        label.c-content-section__trigger(for=data.key) Saiba mais...
        .c-content-section__content.c-content-section__content--extra !{extra}
