extends /layouts/email

block content
  h1 Olá *|first_name|*,
  p.text-larger Um contato foi enviado para #{brand}:

  if enquiry.name.full || enquiry.email
    p.text-larger De 
      if enquiry.name.full
        | <strong>#{enquiry.name.full}</strong>
      if enquiry.name.full && enquiry.email
        |  (
      if enquiry.email
        | <a href="mailto:#{enquiry.email}">#{enquiry.email}</a>
      if enquiry.name.full && enquiry.email
        | )

  if enquiry.phone
    p.text-larger Telefone: #{enquiry.phone}

  if enquiry.register
    p.text-larger CPF/CNPJ: #{enquiry.register}

  if enquiry.brand
    p.text-larger Nome da marca: #{enquiry.brand}

  if enquiry.logo
    p.text-larger Logo: 
    img(src=enquiry.logo.url)

  if enquiry.message
    p.text-larger Messagem:
    .text-larger !{enquiry.message.html}

  p.text-muted Enviado em #{enquiry._.createdAt.format()}
